
.title {
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: .023em;
  font-family: sans-serif;
  color: #1c304f;
  animation-name: fade;
  animation-duration: 10s;
  background-color: silver;
}

@keyframes fade {
  from {background-color: rgb(250, 250, 251);}
  to {background-color: silver;}
}

.App-link {
  color: #61dafb;
}

.background {
  background-color: rgb(250, 250, 251);
}

.filterButtons {
  text-align: center;
}

.albumRow {
  border-top: 1px solid black;
}

